<div class="jumbotron">
  <h1 class="display-4">Cos-Meet</h1>
  <p class="lead">Welcome to the Cos-Meet Marketplace!</p>
  <hr class="my-4">
  <p>Where you can buy or trade your unwanted cosmetics</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button" color="#111111">View Listings</a>
  </p>
</div>




