<div class="jumbotron"> 
    <div class="row"> 
        <div class="col-md-6"> 
            <h1 class="display-4">Cos-Meet</h1> 
            <p class="lead">Welcome to the Cos-Meet marketplace!</p>
            <hr class="my-4"> 
            <p class="lead"> 
                <a class="btn btn-primary btn-lg" href="#" role="button">View Listings</a> 
            </p> 
        </div> 

        <%= image_tag 'Title.png', class: "notepadimage" %>
        
        </div> 
    </div> 
